<section class="
flex
flex-col
justify-center
items-center
w-full
h-full
pb-40
bg-violet-700" data-aos="fade-up" data-aos-delay="200">

    <div class="text-white text-3xl mt-14">
        <h2>Sobre mim</h2>
    </div>

    <div class="mt-10 mr-10 ml-10">
        <p class="subtitle-about">Sou desenvolvedor full stack com experiência sólida em Angular, React, .NET, Node.js,
            JavaScript,
            TypeScript e C#. Tenho atuado na criação de soluções robustas tanto para o mercado europeu quanto
            brasileiro,
            incluindo sistemas contábeis, seguros e aplicações voltadas à área hospitalar.</p>
    </div>
</section>