<section class="pb-20">
    <div class="flex flex-col justify-center items-center text-center pt-10">
        <p class="text-violet-600">Resumo</p>
        <h2 class="text-violet-700 text-3xl">Minhas qualificações</h2>
        <p class="text-violet-800 italic text-2xl">Um pouco sobre a minha trajetória na programação</p>
    </div>

    <div class="space-y-6 mt-10">
        <!-- Bloco de qualificação -->
        <div class="flex flex-col md:flex-row">
            <!-- Logo -->
            <div class="w-full md:w-[30%] flex items-center justify-center p-4 border-r-violet-700 border-r-2">
                <img src="/img/logo-wyden.png" alt="Logo Wyden" class="max-h-32 object-contain" />
            </div>

            <!-- Texto -->
            <div class="w-full md:w-[70%] flex flex-col justify-center p-6 text-center md:text-left text-gray-600">
                <p class="font-bold text-xl text-center">Educação</p>
                <p class="text-lg italic text-violet-700">Análise e Desenvolvimento de Sistemas</p>
                <p class="mt-2">
                    Formação voltada ao desenvolvimento de software, com foco em lógica de programação, estrutura de
                    dados, banco de dados,
                    engenharia de software e tecnologias web. O curso proporciona uma base sólida em desenvolvimento
                    full stack, boas práticas
                    de codificação e metodologias ágeis, preparando o profissional para atuar na criação, manutenção e
                    análise de sistemas
                    computacionais.
                </p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row">
            <!-- Logo -->
            <div class="w-full md:w-[30%] flex items-center justify-center p-4 border-r-violet-700 border-r-2">
                <img src="/img/logo-fucapi.jpg" alt="Logo Wyden" class="max-h-32 object-contain" />
            </div>

            <!-- Texto -->
            <div class="w-full md:w-[70%] flex flex-col justify-center p-6 text-center md:text-left text-gray-600">
                <p class="text-lg italic text-violet-700">Curso Técnico em Informática</p>
                <p class="mt-2">
                    Formação técnica focada na programação, manutenção e desenvolvimento de sistemas. Abrange
                    fundamentos de lógica de programação, banco de dados, redes, desenvolvimento web e desktop, além de
                    práticas em linguagens como Java, C# e Python. O curso prepara o profissional para atuar de forma
                    prática no desenvolvimento e suporte de soluções tecnológicas.
                </p>
            </div>
        </div>

        <div class="flex flex-col md:flex-row">
            <!-- Logo -->
            <div class="w-full md:w-[30%] flex items-center justify-center p-4 border-r-violet-700 border-r-2">
                <img src="/img/logo-mminformatica.png" alt="Logo Wyden" class="max-h-32 object-contain" />
            </div>

            <!-- Texto -->
            <div class="w-full md:w-[70%] flex flex-col justify-center p-6 text-center md:text-left text-gray-600">
                <p class="font-bold text-xl text-center">Experiência Profissional</p>
                <p class="text-lg italic text-violet-700">Desenvolvedor FullStack</p>
                <p class="mt-2">
                    Atuo no desenvolvimento de uma aplicação voltada à automação contábil, utilizando .NET Core, Angular
                    e SQL Server. O sistema permite o registro de dados fiscais via captura de imagens e a gestão
                    contábil de múltiplas empresas em uma única plataforma. Participo ativamente de rotinas ágeis
                    (Scrum/Kanban), consolidando minha experiência em desenvolvimento full stack e automação de
                    processos empresariais.
                </p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row">
            <!-- Logo -->
            <div class="w-full md:w-[30%] flex items-center justify-center p-4 border-r-violet-700 border-r-2">
                <img src="/img/logo-samel.png" alt="Logo Wyden" class="max-h-32 object-contain" />
            </div>

            <!-- Texto -->
            <div class="w-full md:w-[70%] flex flex-col justify-center p-6 text-center md:text-left text-gray-600">
                <p class="text-lg italic text-violet-700">Analista de Dados</p>
                <p class="mt-2">
                    Desenvolvi uma aplicação interna para cruzamento de dados entre pacientes e fisioterapeutas,
                    utilizando Angular, .NET e SQL Server. O sistema proporcionou atendimento mais personalizado,
                    redução de internações, otimização de recursos e melhoria na comunicação entre equipes. Gerou
                    impactos diretos na qualidade do atendimento, nos custos operacionais e na satisfação dos pacientes,
                    além de apoiar a gestão com dados estratégicos em tempo real.
                </p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row">
            <!-- Logo -->
            <div class="w-full md:w-[30%] flex items-center justify-center p-4 border-r-violet-700 border-r-2">
                <img src="/img/logo-santajulia.png" alt="Logo Wyden" class="max-h-32 object-contain" />
            </div>

            <!-- Texto -->
            <div class="w-full md:w-[70%] flex flex-col justify-center p-6 text-center md:text-left text-gray-600">
                <p class="text-lg italic text-violet-700">Analista de CCIH</p>
                <p class="mt-2">
                    Desenvolvi meu primeiro projeto com foco na coleta, análise e visualização de indicadores de
                    desempenho hospitalar. Atuei no monitoramento estratégico de dados operacionais, criando dashboards
                    interativos e relatórios analíticos que embasaram ações como desinfecção setorial e otimização de
                    recursos. Utilizei Python para automação e análise de dados e .NET para integrações com APIs
                    internas, garantindo eficiência e integração com os sistemas existentes. Como resultado, contribuí
                    para a redução dos índices de infecção hospitalar, melhoria da comunicação entre equipes e
                    significativa economia operacional por meio da automação de processos. </p>
            </div>
        </div>

    </div>
</section>