<section class="flex justify-center items-center text-center w-full -mt-30 px-4 " data-aos="fade-up"
  data-aos-delay="200">

  <div class="w-full max-w-6xl h-full  bg-white rounded-4xl  pb-30">
    <div class="flex justify-center items-center">
      <h1 class="text-violet-700 text-3xl mt-14">Habilidades</h1>
    </div>

    <!-- Grid responsiva -->
    <div data-aos="fade-left" data-aos-delay="400"
      class="grid justify-items-center grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-6 mt-10">
      <!-- Exemplo de card -->
      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">JavaScript</p>
        <fa-icon [icon]="faJs" class="text-7xl text-violet-700"></fa-icon>
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">TypeScript</p>
        <img class="w-[72px] h-[72px]" src="img/ts.png">
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">C#</p>
        <img class="w-[72px] h-[72px]" src="img/csharp.png">
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">.Net</p>
        <img class="w-[72px] h-[72px]" src="img/netcore.png">
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">Node.js</p>
        <fa-icon [icon]="faNode" class="text-7xl text-violet-700"></fa-icon>
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">Python</p>
        <fa-icon [icon]="faPython" class="text-7xl text-violet-700"></fa-icon>
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">Angular</p>
        <fa-icon [icon]="faAngular" class="text-7xl text-violet-700"></fa-icon>
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">React.js</p>
        <fa-icon [icon]="faReact" class="text-7xl text-violet-700"></fa-icon>
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">HTML 5</p>
        <fa-icon [icon]="faHtml5" class="text-7xl text-violet-700"></fa-icon>
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">CSS 3</p>
        <fa-icon [icon]="faCss3" class="text-7xl text-violet-700"></fa-icon>
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">Tailwind Css</p>
        <img class="w-[72px] h-[72px]" src="img/tailwind.png">
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">SASS</p>
        <fa-icon [icon]="faSass" class="text-7xl text-violet-700"></fa-icon>
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">Figma</p>
        <fa-icon [icon]="faFigma" class="text-7xl text-violet-700"></fa-icon>
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">NHibernate</p>
        <img class="w-[72px] h-[72px]" src="img/hibernate.png">
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">Api Rest</p>
        <img class="w-[72px] h-[72px]" src="img/api.png">
      </div>

      <div class="card-habilidades">
        <p class="card-habilidades-conteudo">SQL Server</p>
        <img class="w-[72px] h-[72px]" src="img/sql-server.png">
      </div>
    </div>
  </div>
</section>